@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
  
*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
  
:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}
  
nav,footer,header,aside {
    display: block;
}
  
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Raleway', sans-serif;
}
  
input,button,textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: Transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
}


body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;

    background-color: tomato;
}

.experience {
    margin: 0px 0px 110px 0px;
    padding: 250px;
    background-image: url(./assets/img/bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.experience__text {
    font-weight: 700;
    font-size: 64px;
    line-height: 111.5%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.power {
    
}

.power__title {
    margin: 0px 0px 77px 0px;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #008BF5;
}

.power__carts {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cart {
    padding: 50px 65px 0px 65px;
    width: 247px;
    height: 338px;
    border: 1px solid #E1E2E4;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: center;
}

.cart img {
    margin-bottom: 35px;
}

.cart__text {
    font-weight: 550;
    font-size: 15px;
    line-height: 124%;
}